name: Docker

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: programa
          path: .

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: mairacna
          password: ${{ secrets.PASSWORD_DOCKER_HUB }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: mairacna/go_ci:${{ github.ref_name }}
